/*** scss variables **************/

/* colors */
$dark-purple: #2A0E22;
$dark-purple-hover: #4d193e;
$light-font: white;

/* z-indexes */
$zContactForm: 20;
$zMenuButton: 30;
$zFront: 100;
$zTextOverlay: 25;


/* breakpoints (temp, use the mixin)*/
$break-sm: 450px;
$break-md: 770px;
$break-lg: 1200px;
$break-xl: 1600px;


/*********************************/



@import 'default'; /* common defaults */
@import 'mixin'; /* Import common mixins */
@import 'helper';




/* hidden if JS is enabled */
.jsEnabled .hide-on-load{
  display: none;
}

#div-main-container{
  width:100%;
  max-width: 2000px;
  height: 100%;
  margin: 0 auto;
}

.img-logo{
  width: 100%;
}

.div-logo{
  /*border: solid white 1px;*/
  position: fixed;
  z-index: $zMenuButton;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 40px;

  @include breakpoint(s){
    top: 40px;
    left: 40px;
  }
}


/* ==========================================================================
   Contact Button
   ========================================================================== */

.div-contact-button {
  /*border: white solid 1px;*/
  display: block;
  height: 40px;
  width: 40px;
  max-height: 40px;
  max-width: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: $zMenuButton;

  .img-triangle{
    width: 28px;

    position: absolute;
    top: 0px;
    left: 50%;
    @include translate(-50%, 0);
  }

  .text{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -5px;
    /*transition: all .7s;*/
    font-size: 0.7em;
  }

  .line{
    display: block;
    position: absolute;
    height: 2px;
    width: 27px;
    transition: all 1s ease;
  }

  .line01{
    bottom: 13px;
    left: 6px;
    transform-origin: 0 0;
    @include rotate(-61);
  }

  .line02{
    bottom: 14px;
    left: 5px;
    transform-origin: 100% 100%;
    @include rotate(61);
  }

  .line03{
    bottom: 14px;
    left: 7px;
    width: 26px;
  }

  .line01-active{
    margin-left: 4px;
    @include rotate(-45);
  }

  .line02-active{
    top: 24.5px;
    left: 2px;
    @include rotate(45);
  }

  .line03-active{
    margin-bottom: 40px;
    background-color: rgba(255,255,255,0);
  }

  @include breakpoint(s){
    top: 40px;
    right: 40px;

  }

  @include breakpoint(m){
    position: fixed;
  }
}

.div-contact-button:hover{
  cursor: pointer;
  letter-spacing: 0.8px;
}



/********************************************************************************/
/* Title Screen *****************************************************************/
/********************************************************************************/

#index-container{
  min-height: 100%;
  background-color: $dark-purple;
}

#title-container, .div-feature{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.div-feature{
  max-height: 675px;
  @include breakpoint(s){max-height: 1100px;}
  @include breakpoint(m){max-height: 900px;}
  @include breakpoint(x){max-height: 1100px;}
}

#title-container img{
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 100%;

  @media only screen and (min-width: 800px) {
    right: auto;
    left: 50%;
    @include translate(-50%, 0);
  }

  @media only screen and (min-height: 1100px) {
    bottom: auto;
    top: 0;
  }
}

.div-feature img{
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 50%;
  @include translate(-50%, -50%);
  min-width: 100%;

  @media only screen and (min-height: 1100px) {
    bottom: auto;
    top: 0;
  }
}

.slogan-without-break{
  display: none;
}

@include breakpoint(s){
  .slogan-without-break{
    display: block;
  }

  .slogan-with-break{
    display: none;
  }
}



#div-title-slogan{
  position: absolute;
  top: 184px;
  left: 50%;
  @include translate(-50%, 0);
  text-align: center;
  width: 100%;
  color: white;

  #hr-title{
    width: 120px;
    position: relative;
    margin: 0 auto 12px auto;
    display: none;
  }

  #div-title{
    margin-top: 8px;
    h1 {
      font-size: 1.6em;
    }
  }

  #div-slogan p{
    font-size: 0.9em;
    font-style: italic;
  }

  @include breakpoint(s){
    top: 310px;

    #hr-title{
      display: block;
      width: 200px;
    }

    #div-title{
      margin-top: 8px;
      h1 {
        font-size: 3em;
      }
    }

    #div-slogan p{
      font-size: 1.15em;
      margin-top: -10px;
    }
  }

  @include breakpoint(m){
    top: 250px;

    #hr-title{
      display: block;
      width: 200px;
    }

    #div-title{
      margin-top: 8px;
      h1 {
        font-size: 2.8em;
      }
    }

    #div-slogan p{
      font-size: 1.08em;
      margin-top: -10px;
    }
  }

  @include breakpoint(l){
    bottom: 375px;
    top: unset;
    #div-title{
      margin-top: -4px;
    }
  }



  @include breakpoint(x){

  }
}

#div-scroll-icon{
  display: none;
  border: white solid 2px;
  border-radius: 50px;
  width: 20px;
  height: 36px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  @include translate(-50%, 0);
  @include animation('bounce 2s linear 0s infinite');

  #div-scroll-inner{
    background-color: white;
    width: 2px;
    height: 9px;
    position: absolute;
    left: 50%;
    top: 5px;
    @include translate(-50%, 0);
  }

  @include breakpoint(s){
    display: block;
  }
}

@include keyframes (bounce) {
  0%, 30%    { @include translate(0, 0);   }
  50%        { @include translate(0, 5px); }
  70%, 100%  { @include translate(0, 0);   }
}

/*********************************************/
/* About Section *****************************/
/*********************************************/

#div-about-container{
  width: 100%;
  background-color: white;
  margin: 0 auto;
  @extend %clearfix;

  #div-about, #bio-container{
    text-align: center;
    max-width: 620px;
    padding: 20px;
    margin: 0 auto;
  }

  #bio-container .about-bio {
    width: 50%;
    text-align: center;
    min-width: 250px;
    margin: 0 auto;
    @media only screen and (min-width: 600px) {
      float: left;
    }

    input[type="button"]{
      color: $dark-purple;
      border: solid $dark-purple 1px;
    }
    input[type="button"]:hover{
      background-color: $dark-purple;
      color: white;
    }

  }
}


/*********************************************/
/* Contact Page ******************************/
/*********************************************/

#div-contact-placeholder{
  display: none;
  position: relative;
  float: right;
  width: 100%;
  z-index: $zContactForm;
  background-color: $dark-purple;
}

.div-contact-container{
  width: 230px;
  color: white;
  position: relative;
  margin: 0 auto;
  text-align: center;

  h1{
    font-size: 3.5em;
    line-height: 1em;
    text-align: left;
  }

  p{
    font-size: 1.2em;
  }

  .form-group{
    text-align: left;
  }

  .div-contact-form, .div-contact-header{
    width: 100%;
    margin: 0 auto;
    float: left;
  }

  .div-contact-header{
    padding-top: 150px;

    .contact-email{
      display: none;

      @include breakpoint(s){
        display: unset;
      }
    }
  }

  .div-contact-form{
    padding-top: 20px;
  }

  input[type="text"], input[type="email"], textarea{
    width: 100%;
    height: 30px;
    border:none;
    margin-bottom: 15px;
    color: black;
  }

  textarea{
    margin-bottom: 0;
  }

  #contact-submit-btn{
    margin-top: 22px;
    margin-bottom: 30px;
  }

  @include breakpoint(s){
    width: 345px;
    margin: 75px auto 0 auto;

    .div-contact-header{
      text-align: left;
      padding-top: 80px;
    }

    .contact-email{
      line-height: 1em;
    }

    #contact-header-one-line, #contact-header-two-lines{
      margin-bottom: 10px;
    }

    textarea{
      min-height: 200px;
    }
  }

  @include breakpoint(m){
    .div-contact-form{
      padding-top: 25px;
    }
  }
}



#contact-header-one-line{
  display: none;
}

@include breakpoint(s){
  #contact-header-one-line{
    display: block;
  }

  #contact-header-two-lines{
    display: none;
  }
}


/*********************************************/
/* Project Pages *****************************/
/*********************************************/



.project-container {
  width: 100%;
  min-height: 100%;

  p {
    font-size: 1em;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 40px;
  }

  img {
    width: 100%;
  }

  .project-title {
    text-align: center;
    font-size: 1.2em;
    border: solid black 3.5px;
    padding: 0 10px;
    margin: 50px 20px 34px 20px;
  }

  .project-type {
    @extend %clearfix;
    margin: 0 20px;
  }

  .project-description {
    padding: 0 20px;
  }

  .project-overlay-text {
    padding: 0 20px;
    color: $dark-purple;
  }

  .project-sub-header {
    width: 100%;
    position: relative;
  }

  .div-img-stagger {
    position: relative;
    height: 265px;

    img {
      max-width: 180px;
      max-height: 740px;
      position: absolute;
    }

    img:nth-child(1) {
      z-index: 1;
      top: 0;
      left: 0;
    }

    img:nth-child(2) {
      z-index: 3;
      left: 50%;
      top: 22px;
      @include translate(-50%, 0);
    }

    img:nth-child(3) {
      z-index: 2;
      top: 0;
      right: 0;
    }
  }

  @media only screen and (min-width: 400px) {
    .div-img-stagger {
      height: 315px;
      img {
        max-width: 220px;
      }
    }
  }

  @media only screen and (min-width: 520px) {
    .div-img-stagger {
      height: 390px;
      img {
        max-width: 280px;
      }
    }
  }

  @media only screen and (min-width: 660px) {
    .project-description, .project-overlay-text, .project-title, .project-type {
      max-width: 620px;
      margin-left: auto;
      margin-right: auto;
    }
    .project-title {
      margin: 50px auto 34px auto;
    }
    .div-img-stagger {
      height: 475px;
      img {
        max-width: 350px;
      }
    }
  }

  @media only screen and (min-width: 800px) {
    .div-img-stagger {
      height: 560px;
      img {
        max-width: 430px;
      }
    }
  }

  @media only screen and (min-width: 980px) {
    .div-img-stagger {
      height: 700px;
      img {
        max-width: 545px;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .div-img-stagger {
      max-width: 1060px;
      margin-left: auto;
      margin-right: auto;

      img:nth-child(1) {
        top: 0;
        left: 0;
      }

      img:nth-child(2) {
        left: 50%;
        top: 22px;
        @include translate(-50%, 0);
      }

      img:nth-child(3) {
        top: 0;
        right: 0;
      }
    }
  }
}


/*****************************************/
/* Moving Text Overlay (home page) *******/
/*****************************************/

.overlay-text{
  color: $dark-purple;

  @media only screen and (min-width: 1100px){
    color: white;
  }

  @include breakpoint(s){
    font-size: 1.1em;
  }

  @include breakpoint(m){
    font-size: 1em;
  }
}


.overlay-text-fixed{
  position: fixed;
  z-index: $zTextOverlay;
  left: 20px;
  top: 100px;

  @include breakpoint(s){
    top: 125px;
    left: 40px;
  }
}


/*********************************************/
/* Footer (Connect Button) *******************/
/*********************************************/

.div-contact-footer{
  background-color: $dark-purple;
  text-align: center;

  a{
    text-decoration: none;
  }
  input{
    margin: 30px 0;
  }
}



/*********************************************/
/* Loading Spinner ***************************/
/*********************************************/

.loader-container-light, .loader-container-dark{
  position: relative;
  width: 100%;
  height: 300px;

  span{
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    border: solid 1px $dark-purple;
    opacity: 0;
  }

  span:nth-child(1){
    animation: grow 2s infinite;
  }
  span:nth-child(2){
    animation: grow 2s infinite;
    animation-delay: 1s;
  }
}

.loader-container-light span{
  border: solid 1px white;
}

@keyframes grow{
  from{
    width: 2px;
    height: 2px;
    opacity: 1;
  }
  to {
    width: 50px;
    height: 50px;
    opacity: 0;
  }
}